.sidebar {
    display: flex;
    overflow: auto;
    background-color: $darkblue;
    height: calc(100vh - 60px);
    transition: .3s;
    position: relative;
    z-index: 10000;
    width: 300px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
