.section-content__card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 10px 5px rgb(0 0 0 / 25%);
    cursor: pointer;
    transition: .3s;
    overflow: hidden;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 10px 5px rgb(0 0 0 / 25%);
        transition: .3s;
    }
}
