.section-content__card__num-wrapper {
    background-color: $red;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;

    span {
        @include menuFont;
        font-size: 20px;
    }
}
