.popup__close-button {
    background: none;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: 0.3s;
    font-size: 35px;

    &:hover {
        transition: 0.3s;
        opacity: 0.7;
    }
}
