.accord__item {
    cursor: pointer;
    background: $white !important;
    border-bottom: none;
    transition: .3s;
    overflow: hidden;
    position: relative;

    &:nth-of-type(2n) {
        background: $lightGrey2;
    }
}
