.card__num-wrapper {
    background-color: $red;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;

    span {
        @include menuFont;
        font-size: 20px;
    }

    @media screen and (max-width: 1250px) {
        width: 25px;
        height: 25px;
    }
}
