.menu__subitem-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-100%, 60px);
    transition: .3s;
}
