#colors {
    $white: #fff !global;
    $black: #000 !global;
    $grey: #5d6971 !global;
    $red: #c1002a !global;
    $blue: #101a46 !global;
    $darkblue: #090e24 !global;
    $darkSalmon: #e48879 !global;
    $GoldenFishBlue: #1c3861 !global;
    $GoldenFishYellow: #f9b604 !global;
}
