.page {
    background-color: $darkblue;
    transition: 0.3s;
    min-height: 100vh;
    overflow: hidden;
}

#page {
    &::-webkit-scrollbar {
        width: 10px;
        background: $GoldenFishBlue;
    }
    &::-webkit-scrollbar-thumb {
        background: $red;
        border-radius: 10px;
    }
}
