.menu__subitem {

    height: 25px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $blue;
    transition: .3s;

    &:hover {
        background-color: $GoldenFishBlue;
        transition: .3s;
    }
}