.infoblock__trigger {
    color: $lightBlue;
    opacity: 0.5;
    font-size: 0.7vw;
    position: absolute;
    cursor: pointer;
}

.infoblock__trigger:hover ~ .infoblock {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s;
}
